<p ng-class="{warning: warning}">{{message}}</p>

<!-- conditional, if summary -->
<div ng-if="data.circuit.name == 'summary'">
<table id="usage">
	<tr>
		<th></th>
		<th class="label">YTD<span ng-if="year == 2012">&sup1;</span></th>
		<th class="label">% of total</th>
	</tr>
	<tr ng-repeat="circuit in data.circuits">
		<td class="name"><a ng-href="#/monthly/usage/{{circuit.name}}?house={{house}}&date={{ date | date:'yyyy-MM-dd' }}" >{{circuit.title}}</a></td>
		<td>{{circuit.actual | number:0}}</td>
		<td>{{circuit.perc | number:0}}</td>
	</tr>
</table>
</div>

<!-- conditional, if circuit -->
<div ng-if="data.circuit.name != 'summary'">
<p><a href="#/monthly/usage/summary?house={{house}}&date={{ date | date:'yyyy-MM-dd' }}">&lt;- All circuits</a></p>

<table id="{{data.circuit.name}}">
	<tr>
		<th class="name">{{data.circuit.title}}</th>
		<th class="label">Actual</th>
		<!-- conditional, if summary -->
		<th ng-if="data.circuit.name == 'all'" class="label">Budget</th>
		<!-- conditional, if ashp -->
		<th ng-if="data.circuit.name == 'ashp'" class="label">Projected&sup2;</th>
		<th ng-if="data.circuit.name == 'all' || data.circuit.name == 'ashp'" class="label">Diff(%)</th>
	</tr>
	<tr>
		<th class="name">YTD</th>
		<th>{{data.totals.actual | number:0}}</th>
		<!-- conditional, if summary -->
		<th ng-if="data.circuit.name == 'all'">{{data.totals.budget | number:0}}</th>
		<!-- conditional, if ashp-->
		<th ng-if="data.circuit.name == 'ashp'" title="HDD base 50&deg;F = {{data.totals.hdd | number:0}}">{{data.totals.projected | number:0}}</th>
		<th ng-if="data.circuit.name == 'all' || data.circuit.name == 'ashp'" ng-class="{negative: data.totals.diff<0, positive: data.totals.diff>=0}">{{data.totals.diff | number:1}}</th>
	</tr>
	<tr ng-repeat="month in data.months">
		<td class="name"><a ng-href="#/daily/usage/{{ data.circuit.name }}?house={{house}}&date={{ month.date | date:'yyyy-MM' }}" >{{month.date | date:"MMM"}}</a></td>
		<td>{{month.actual | number:0}}</td>
		<!-- conditional, if summary -->
		<td ng-if="data.circuit.name == 'all'">{{month.budget | number:0}}</td>
		<!-- conditional, if ashp -->
		<td ng-if="data.circuit.name == 'ashp'" title="HDD base 50&deg;F = {{month.hdd | number:0}}">{{month.projected | number:0}}</td>
		<td ng-if="data.circuit.name == 'all' || data.circuit.name == 'ashp'" ng-class="{negative: month.diff<0, positive: month.diff>=0}">{{month.diff | number:1}}</td>
	</tr>
</table>
</div>
<p class="notes">All power values in kWh.</p>
<!-- need conditional statement for this -->
<p class="notes" ng-if="year == 2012">1. Circuit level data starts March 16, 2012</p>
<p class="notes" ng-if="data.circuit.name == 'ashp'">2. Projected kWh = 0.2261 x HDD base 50&deg;F + 0.7565</p>